<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty scope="context" name="logging.level.root" source="logging.level.root"/>
    <springProperty scope="context" name="logging.level.default" source="logging.level.default"/>
    <springProperty scope="context" name="logging.path" source="logging.path"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <property name="LOG_LEVEL_DEFAULT" value="${logging.level.default:-debug}"/>
    <property name="LOG_LEVEL_ROOT" value="${logging.level.root:-warn}"/>
    <property name="LOG_PATH" value="${logging.path:-/data/logs}/${appName}"/>

    <appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern><![CDATA[%date %highlight(%level) [%thread] %cyan(%logger{10})[%line] requestId\(%X{requestId}\) %highlight(%msg) %n]]></pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/default/log-default-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
            <MaxFileSize>1GB</MaxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern><![CDATA[%date %highlight(%level) [%thread] %cyan(%logger{10})[%line] requestId\(%X{requestId}\) %highlight(%msg) %n]]></pattern>
        </encoder>
    </appender>

    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error/log-error-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>90</maxHistory>
            <MaxFileSize>1GB</MaxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern><![CDATA[%date %highlight(%level) [%thread] %cyan(%logger{10})[%line] requestId\(%X{requestId}\) %highlight(%msg) %n]]></pattern>
        </encoder>
    </appender>

    <logger name="io.seata" level="INFO"/>
    <logger name="com.anbangke" level="${LOG_LEVEL_DEFAULT}"/>
    <logger name="com.anbangke.pg.dbframework.jdbc" level="ERROR"/>
    <logger name="com.anbangke.pg.mvc.resolver" level="ERROR"/>
    <logger name="net" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.jdbc.core" level="TRACE"/>
    <logger name="com.alibaba" level="INFO"/>
    <logger name="springfox" level="ERROR"/>
    <logger name="com.netflix" level="ERROR"/>
    <logger name="org.apache.coyote" level="INFO"/>
    <logger name="com.baomidou.mybatisplus" level="DEBUG"/>
    <logger name="com.baomidou.mybatisplus.MybatisConfiguration" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.core.MybatisConfiguration" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.extension.parsers" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.extension.plugins" level="ERROR"/>
    <logger name="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor" level="DEBUG"/>

    <root level="${LOG_LEVEL_ROOT}">
        <appender-ref ref="Stdout"/>
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>

</configuration>